{% include 'header.html' %}
            <!-- Projects Section-->
            <section>
                <div class="container px-5 mb-5">
<div class="text-center mb-5">
                        <div class="container py-5">
                            <img src="../static/assets/collage.jpg" height="500px">
                        </div>

                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">About Me</span></h1>
                        <p style="color: dimgray">
                            Hey, I'm Josh! I've been happily married to my amazing wife, Makenzie, for five years. We
                            share this awesome Golden-Doodle named Nellie who's just a ball of energy, keeping us on our
                            toes and bringing so much joy into our lives.

                            One of our standout memories together was our trip to Rome. The history, the culture, and
                            the food were just incredible. Speaking of food, Makenzie and I are big fans of local
                            breweries and Mexican cuisine. But our absolute favorite spot has to be Chi - Chinese and
                            Sushi Bar.

                            Bend, OR is where we call home. I love Bend for all the seasonal hobbies like snowboarding,
                            rock climbing, running, and dirt biking. Lately, golf has become a new passion for me, and
                            it's such a great way to enjoy the beauty of Bend. Weekends often involve some home DIY
                            projects – there's always something to tinker with.

                            Come Friday night, you'll likely find me at a local brewery with friends, soaking in the
                            laid-back atmosphere and enjoying some quality time. And when we head back home, it's all
                            about games and maybe mixing up a mean whiskey sour – the perfect way to cap off the week.

                            Thank you for taking the time to get to know a bit about me. I’m eager for the chance to
                            discuss how I can contribute my skills and positive energy as a valuable asset to your team.
                        </p>

                    </div>

                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Get in Touch With Me</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('contact') }}">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
{% include 'footer.html' %}