{% include 'header.html' %}
            <!-- Projects Section-->
            <section>
                <div class="container px-5 mb-5">
<div class="text-center mb-5">



                        <div class="container px-3 mb-5 col-sm-auto col-lg-11 col-xl-9 col-xxl-8">
                            <img src="" class="img-fluid py-3">
                            <div class="container ">
                            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Privacy Statement</span></h1>

                                <p class="text-muted py-3">
                                    At JoshMaitre.com, we take your privacy and security seriously. This statement
                                    outlines our commitment to protecting your personal information and ensuring a
                                    secure online environment. Please read the following carefully to understand our
                                    practices:

                                </p>
                                <h4>Collection of Information</h4>
                            <p class="text-muted">

                                We collect personal information, such as names and email addresses, only when
                                voluntarily provided by users through forms or other interactions on the website. This
                                information is used solely for the purpose stated at the time of collection and is not
                                shared with third parties without explicit consent.</p>
                                <h4>Use of Information</h4>
                                <p class="text-muted">
                                    Any personal information collected is used for the purpose for which it was
                                    provided. This may include responding to inquiries, processing transactions, or
                                    delivering requested services. We do not use or share your information for any
                                    unrelated purposes unless required by law.
                                </p>
                                <h4>Third-Party Links</h4>
                            <p class="text-muted">
                                Our website may contain links to third-party websites. We are not responsible for the
                                privacy practices or content of these external sites. We encourage users to review the
                                privacy policies of any linked websites.
                            </p>
                                <h4>Consent</h4>
                            <p class="text-muted">

                                By using our website, you consent to the terms outlined in this Privacy and Security
                                Statement.
                        </p>
                                </div>
                        </div>

                    </div>

                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Get in Touch With Me</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('contact') }}">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
{% include 'footer.html' %}