{% include 'header.html' %}
<!-- Projects Section-->
            <section class="py-5">
                <div class="container col-md-12 px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->

                            <a href='https://github.com/josh-may6/AmazonWebscraper' target="_blank"
                               style="text-decoration: none; color: dimgray">
                                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                    <div class="card-body p-0">
                                        <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                            <img class="img-fluid order-lg-2 rounded" height="400px" width="300px"
                                                 src="/static/assets/amazonprice.png" alt="Picture of Home Page"/>
                                            <div class="p-5">
                                                <h2 class="fw-bolder" style="color: black">Amazon Webscraper</h2>
                                                <p class="mb-0 mb-lg-3">Introducing PriceWatch Pro – your essential
                                                    web-based companion for
                                                    Amazon shopping. Monitor real-time price drops, receive instant
                                                    notifications, and easily manage your watchlist. Make informed
                                                    decisions, save money, and never miss a deal. Elevate your online
                                                    shopping – access PriceWatch Pro on the web now!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- Project Card -->

                            <a href='https://github.com/josh-may6/throwback-playlists' target="_blank"
                               style="text-decoration: none; color: dimgray">
                                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                    <div class="card-body p-0">
                                        <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                            <img class="img-fluid order-lg-2 rounded" height="400px" width="300px"
                                                 src="/static/assets/throwbacksongs.png" alt="Picture of Home Page"/>
                                            <div class="p-5">
                                                <h2 class="fw-bolder" style="color: black">Throwback Playlist Maker</h2>
                                                <p class="mb-0 mb-lg-3">Pick a date, any date, and let RetroTunes
                                                    transform it into a Spotify playlist! Harnessing the power of an API
                                                    and Beautiful Soup web scraping, this app curates your personal
                                                    playlist with the top hits from your chosen day. Using Spotipy library
                                                    integration ensures your customized musical journey is effortlessly
                                                    delivered to your Spotify account. Relive the beats of history with
                                                    RetroTunes – where nostalgia meets innovation.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- Project Card 2-->
                            <a href='https://github.com/josh-may6/portfoliowebsite' target="_blank" style="text-decoration: none; color: dimgray">
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                        <img class="img-fluid order-lg-2 rounded" height="400px" width="300px" src="/static/assets/web.png" alt="Picture of Home Page" />
                                        <div class="p-5">
                                            <h2 class="fw-bolder" style="color: black">This Website</h2>
                                            <p class="mb-0 mb-lg-3">I've crafted a dynamic portfolio/resume website using Python, Flask, and
                                                Bootstrap for a robust backend and responsive design. The site presents
                                                my professional background, skills, and projects in a clean format. It
                                                features a seamless contact form with SMS functionality for efficient
                                                communication. Prioritizing security and SEO best practices, the website
                                                offers a comprehensive and modern showcase of my skills, achievements,
                                                and allows for easy expansion and updates.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            </a>
                            <!-- Project Card 3-->
                            <a href='https://github.com/josh-may6/MorseCodeTranslator' target="_blank" style="text-decoration: none; color: dimgray">
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                        <img class="img-fluid order-lg-2 rounded" height="400px" width="300px" src="/static/assets/MorseCode.png" alt="Picture of Running Morse Code App" />
                                        <div class="p-5">
                                            <h2 class="fw-bolder" style="color: black">Morse Code Translator</h2>
                                            <p class="mb-0 mb-lg-3">Unlock the world of communication's secret code with MorseMaster – the
                                                ultimate Morse code encoder and decoder app! Whether you're a Morse code
                                                enthusiast, a communication hobbyist, or just intrigued by the art of
                                                encoding messages, MorseMaster is your go-to companion for unraveling
                                                the dots and dashes that make up the language of signals. Click for Complete Code on GitHub</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            </a>
                            <!-- Project Card 4-->
                            <a href="https://github.com/josh-may6/addwatermark" target="_blank" style="text-decoration: none; color: dimgray">
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                        <img class="img-fluid order-lg-2 rounded" width="300px" src="/static/assets/watermark.gif" alt="GIF of Watermark App Applying watermark to images" />
                                        <div class="p-5">
                                            <h2 class="fw-bolder" style="color: black">WaterMark Pro</h2>
                                            <p class="mb-0 mb-lg-3">Introducing WaterMark Pro, the simple yet powerful app designed to
                                                streamline the process of adding watermarks to your collection of
                                                pictures. Whether you're a photographer protecting your work or a social
                                                media enthusiast looking to brand your images, WaterMark Pro provides a
                                                user-friendly solution to enhance your images with personalized
                                                watermarks.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                                </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('contact') }}">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
       {% include 'footer.html' %}