{% include 'header.html' %}
<!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <a href='https://github.com/josh-may6/MorseCodeTranslator' target="_blank" style="text-decoration: none; color: dimgray">
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder" style="color: black">Morse Code Translator</h2>
                                            <p>Unlock the world of communication's secret code with MorseMaster – the
                                                ultimate Morse code encoder and decoder app! Whether you're a Morse code
                                                enthusiast, a communication hobbyist, or just intrigued by the art of
                                                encoding messages, MorseMaster is your go-to companion for unraveling
                                                the dots and dashes that make up the language of signals. Click for Complete Code on GitHub</p>
                                        </div>
                                        <img class="img-fluid" height="400px" width="300px" src="/static/assets/MorseCode.png" alt="Picture of Running Morse Code App" />
                                    </div>
                                </div>
                            </div>
                            </a>
                            <!-- Project Card 2-->
                            <a href="https://github.com/josh-may6/addwatermark" target="_blank" style="text-decoration: none; color: dimgray">
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder" style="color: black">WaterMark Pro</h2>
                                            <p>Introducing WaterMark Pro, the simple yet powerful app designed to
                                                streamline the process of adding watermarks to your collection of
                                                pictures. Whether you're a photographer protecting your work or a social
                                                media enthusiast looking to brand your images, WaterMark Pro provides a
                                                user-friendly solution to enhance your images with personalized
                                                watermarks.</p>
                                        </div>
                                        <img class="img-fluid" width="300px" src="/static/assets/watermark.gif" alt="GIF of Watermark App Applying watermark to images" />
                                    </div>
                                </div>
                            </div>
                                </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('contact') }}">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
       {% include 'footer.html' %}