{% include 'header.html' %}
<!-- Projects Section-->
            <section class="py-5">
                <div class="container col-md-12 px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <div class="container text-center">
                                <p>Here are some projects I've developed using Python coding. Delving into coding has
                                    been a fascinating journey for me, and these self-initiated projects showcase my
                                    capacity to swiftly grasp new concepts and effectively implement them.</p>
                            </div>
                            <!-- Project Card -->
                            <a href='https://github.com/josh-may6/portfoliowebsite' target="_blank" style="text-decoration: none; color: dimgray">
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                        <img class="img-fluid order-lg-2 rounded" height="400px" width="300px" src="/static/assets/web.png" alt="Picture of Home Page" />
                                        <div class="p-5">
                                            <h2 class="fw-bolder" style="color: black">This Website</h2>
                                            <p class="mb-0 mb-lg-3">I've crafted a dynamic portfolio/resume website using Python, Flask, and
                                                Bootstrap for a robust backend and responsive design. The site presents
                                                my professional background, skills, and projects in a clean format. It
                                                features a seamless contact form with SMS functionality for efficient
                                                communication. Prioritizing security and SEO best practices, the website
                                                offers a comprehensive and modern showcase of my skills, achievements,
                                                and allows for easy expansion and updates.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            </a>
                             <!-- Project Card-->

                            <a href='https://github.com/josh-may6/JoshMaitreBlog' target="_blank"
                               style="text-decoration: none; color: dimgray">
                                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                    <div class="card-body p-0">
                                        <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                            <img class="img-fluid order-lg-2 rounded" height="400px" width="300px"
                                                 src="/static/assets/blogwebsite.png" alt="Picture of Home Page"/>
                                            <div class="p-5">
                                                <h2 class="fw-bolder" style="color: black">Blog Website Example</h2>
                                                <p class="mb-0 mb-lg-3">This Flask web application features user
                                                    registration, login, blog post management, comments, and a contact
                                                    form. Leveraging Flask extensions like Flask-Login,
                                                    Flask-SQLAlchemy, Flask-CKEditor, Flask-Bootstrap, and
                                                    Flask-Gravatar, it integrates with an SQL database to store user
                                                    data, blog posts, and comments. The code provides user
                                                    authentication, admin-only actions using decorators, and allows
                                                    logged-in users to create, edit, and delete blog posts. The
                                                    application includes a contact form for email communication and runs
                                                    locally with environment variable configuration. It adheres to best
                                                    practices and utilizes Werkzeug for password hashing. The code is
                                                    well-organized and
                                                    extensively commented for clarity. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- Project Card -->
                            <a href='https://github.com/josh-may6/AmazonWebscraper' target="_blank"
                               style="text-decoration: none; color: dimgray">
                                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                    <div class="card-body p-0">
                                        <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                            <img class="img-fluid order-lg-2 rounded" height="400px" width="300px"
                                                 src="/static/assets/amazonprice.png" alt="Picture of Home Page"/>
                                            <div class="p-5">
                                                <h2 class="fw-bolder" style="color: black">Amazon Webscraper</h2>
                                                <p class="mb-0 mb-lg-3">This program serves as an Amazon price
                                                    monitoring tool, designed to track fluctuations and sales on
                                                    products. Simply input the URL of an Amazon product and set your
                                                    desired price threshold for notification. Leveraging BeautifulSoup,
                                                    it parses through HTML data to monitor changes. Once your specified
                                                    criteria are met, it triggers an email alert using the smtplib
                                                    library.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- Project Card -->
                            <a href='https://github.com/josh-may6/throwback-playlists' target="_blank"
                               style="text-decoration: none; color: dimgray">
                                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                    <div class="card-body p-0">
                                        <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                            <img class="img-fluid order-lg-2 rounded" height="400px" width="300px"
                                                 src="/static/assets/throwbacksongs.png" alt="Picture of Home Page"/>
                                            <div class="p-5">
                                                <h2 class="fw-bolder" style="color: black">Throwback Playlist Maker</h2>
                                                <p class="mb-0 mb-lg-3">Pick a date, any date, and let RetroTunes
                                                    transform it into a Spotify playlist! Harnessing the power of an API
                                                    and Beautiful Soup web scraping, this app curates your personal
                                                    playlist with the top hits from your chosen day. Using Spotipy library
                                                    integration ensures your customized musical journey is effortlessly
                                                    delivered to your Spotify account.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- Project Card -->
                            <a href='https://github.com/josh-may6/MorseCodeTranslator' target="_blank" style="text-decoration: none; color: dimgray">
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                        <img class="img-fluid order-lg-2 rounded" height="400px" width="300px" src="/static/assets/MorseCode.png" alt="Picture of Running Morse Code App" />
                                        <div class="p-5">
                                            <h2 class="fw-bolder" style="color: black">Morse Code Translator</h2>
                                            <p class="mb-0 mb-lg-3">This Morse code translator is equipped to
                                                differentiate between input in Morse code and regular letters, providing
                                                the corresponding coded or decoded message accordingly. Demonstrating my
                                                meticulous attention to detail, it showcases my proficiency in handling
                                                CSV files and working with Python dictionaries. Moreover, I implemented
                                                the Tkinter library to create a straightforward Graphical User Interface
                                                (GUI) for user interaction.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            </a>
                            <!-- Project Card -->
                            <a href="https://github.com/josh-may6/addwatermark" target="_blank" style="text-decoration: none; color: dimgray">
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex flex-column-reverse flex-lg-row align-items-center">
                                        <img class="img-fluid order-lg-2 rounded" width="300px" src="/static/assets/watermark.gif" alt="GIF of Watermark App Applying watermark to images" />
                                        <div class="p-5">
                                            <h2 class="fw-bolder" style="color: black">WaterMark Pro</h2>
                                            <p class="mb-0 mb-lg-3">As a photographer, adding watermarks to hundreds of
                                                wedding pictures can be a time-consuming chore. With my program built
                                                using Tkinter, I've streamlined this process. Users can simply select
                                                the files they want to watermark, and with just one click, the program
                                                automatically adds watermarks to all chosen pictures, saving valuable
                                                time and effort.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                                </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('contact') }}">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
       {% include 'footer.html' %}