{% include 'header.html' %}
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="{{ url_for('download_resume') }}" target="_blank">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">September 2022 - Present</div>
                                                <div class="small fw-bolder">Real Estate Broker</div>
                                                <div class="small text-muted">ENGEL &amp; VöLKERS</div>
                                                <div class="small text-muted">Bend, Oregon</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>I conducted comprehensive market research and analyzed property data to develop precise pricing strategies for clients. Utilizing Excel and data visualization tools, I created informative reports. I cultivated strong client relationships, acting as a trusted advisor and recognizing the significance of the investment. Additionally, I built a website and utilized real estate CRM software to attract and retain prospects. Implementing technologies such as Zillow 3D Home, Social Media, and Google Ads, I promoted properties effectively in competitive markets. With a focus on project management, I ensured a seamless transition between sellers and buyers. Operating as an independent contractor, I demonstrated a high level of self-motivation throughout the process.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">January 2019 - September 2022</div>
                                                <div class="small fw-bolder">Real Estate Broker</div>
                                                <div class="small text-muted">Cascade Sotheby's International Realty</div>
                                                <div class="small text-muted">Bend, Oregon</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Started real estate career at a leading Central Oregon brokerage, swiftly demonstrating industry acumen, achieving over $40 million in sales within the initial 4 years, and consistently maintaining 5-star customer reviews.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 3-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">September 2014 - March 2019</div>
                                                <div class="small fw-bolder">General Manager</div>
                                                <div class="small text-muted">Jamba Juice</div>
                                                <div class="small text-muted">Bend, Oregon</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Managed a team of 15 employees, facilitating four location transfers to cultivate a self-sustaining team and correct work culture. Achieved a significant reduction in labor costs from 32% to 29% of the total budget, resulting in approximately $15,000 in savings in the first year of management. Orchestrated worker training programs, addressed personnel issues, hired over 50 employees, and conducted performance evaluations in dining and lodging facilities. Provided oversight for all store operations, including scheduling, inventory management, supply cost control, and vendor coordination. Ensured high standards of cleanliness, organization, storage, and sanitation for food and smoothies, maintaining a commitment to delivering a high-quality product.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">December 2023</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Udemy</div>
                                                    <div class="small text-muted">Coding Bootcamp</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">"100 Days of Code:</div>
                                                    <div class="small text-muted">The Complete Python Pro Bootcamp"</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Completed an intensive Python Programming Bootcamp encompassing automation, game development, app and web development, and data science. Acquired expertise in key technologies including Selenium, Beautiful Soup, Requests, Flask, Pandas, NumPy, and API integration. Proficient in git version control for effective project management, with a foundational understanding of HTML, CSS, and Bootstrap.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">June 2021</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Oregon State University Cascades</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Bachelor's of Science</div>
                                                    <div class="small text-muted">Business Administration</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Equipped with a comprehensive understanding of key business principles, strategic management, financial analysis, and organizational operations. Proficient in applying effective leadership and decision-making skills to drive business success.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 3-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">January 2019</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">National Association of Realtors</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Oregon Real Estate License</div>
                                                    <div class="small text-muted">#201230069</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Successfully completed the Oregon Real Estate License, demonstrating a solid foundation in real estate laws, regulations, and ethical practices.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Technical Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Selenium</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Beautiful Soup</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Requests</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Pandas</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Flask</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Git Version Control</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Bootstrap</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Basic HTML and CSS</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-person-badge"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Soft Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Collaboration</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Problem Solving</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Attention to Detail</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Self-Motivated</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adaptability</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Leadership Skills</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
{% include 'footer.html' %}